*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-color-pink{
  animation-name: bgcolor-pink;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
.body-color-skyblue{
  animation-name: bgcolor-skyblue;
  animation-duration: 30s;
  animation-iteration-count: infinite;  
}
.body-color-green{
  animation-name: bgcolor-green;
  animation-duration: 30s;
  animation-iteration-count: infinite;  
}
@keyframes bgcolor-pink {
  from{background-color: #ffb6c1;}
  25%{background-color: #ffa07a;}
  50%{background-color: #ecd675;}
  75%{background-color: #ffa07a;}
  to{background-color: #ffb6c1;}
}
@keyframes bgcolor-skyblue {
  from{background-color: #b6eaff;}
  25%{background-color: #7a92ff;}
  50%{background-color: #bc75ec;}
  75%{background-color: #7a92ff;}
  to{background-color: #b6eaff;}
}
@keyframes bgcolor-green {
  from{background-color: #cdffac;}
  25%{background-color: #8add45;}
  50%{background-color: #1da734;}
  75%{background-color: #8add45;}
  to{background-color: #cdffac;}
}
#container{
  overflow: hidden;
  width: 100%;  
}
#change-botton{
  float: left;
  border: 1.5px solid rgba(107, 107, 107, 0.747) ;
  background-color: transparent;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  margin: 10px;
}
#change-botton:hover{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}
#weather{
  width: 170px;
  height: 40px;
  position: fixed;
  right: 0px; 
}
#weather > img{
  float: left;
  width: 40px;
}
#weather > span{
  float: left;
  font-size: 1.2em;
  height: 40px;
  line-height: 40px;
}
#clock{
  display: block;
  width: 80vw;
  height: 80px;
  margin: 14vh auto 8vh;
  text-align: center;
  font-size: 72px;
}
#clock:hover{
  transition: all 1s;
  transform: scale(1.2);
}
#login-form{
  width: 290px;
  height: 30px;
  line-height: 30px;
  margin:0 auto;
  padding: 0 auto;
}
#login-form input{
  background-color: transparent;
  border: 1.5px solid rgba(107, 107, 107, 0.747) ;
  border-radius: 5px;
  width: 215px;
  height: 25px;
}
#login-form button{
  background-color: transparent;
  border: 1.5px solid rgba(107, 107, 107, 0.747) ;
  border-radius: 5px;
  width: 70px;
  height: 25px;
}
#login-form button:hover{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}

#greeting{
  text-align: center;
  width: 100%;
  height: 40px;
  margin: 30px auto;
  overflow: hidden;
  
}
#todo-form input{
  clear: left;
  background-color: transparent;
  border: none;
  border-bottom : 1px solid #fff;
  display: block;
  width: 330px;
  height: 28px;
  margin: 30px auto;
}
#todo-list{
  text-align: center;
  display: block;
  width: auto;
  height: 150px;
  font-size: 0.9em;
}
#todo-list li span{
  font-size: 1.3em;
}
#todo-list li button{
  color: green;
  font-size: 1.6em;
  padding-left: 10px;
  border: none;
  background-color: transparent;
}
#todo-list li button:hover{
  cursor: pointer;
  color: red;
  transition: all 0.5s;
  transform: scale(1.2);
}
#quote{
  text-align: center;
}
#quote span:last-child{
  display: block;
}
.hidden{
  display: none;
}
@media screen and (min-width:400px) {
  #todo-list{
    height: 350px;
  }
  #clock{
    margin: 230px auto 30px;;
  }
}

